*
{
  	box-sizing: border-box;
}

.loader
{
	position: absolute;
	left: 50%;
	top: 50%;
}

#search-bar, #search-button
{
  	border: none;
	outline: none;
	color: #4d4a4a;
	background: #c5c3c3;
}

#search-bar
{
  	padding: 0.5em 1em;
	border-radius: 24px;
	font-family: inherit;
	font-size: 105%;
	width: calc(100% - 200px);
}

#search-button
{
	margin: 1.5em;
	border-radius: 50%;
	height:44px;
	width: 44px;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

#search-button:hover
{
	color: #ffffff;
	background: #1d1c1c6b;
}

.img-container img
{
	height: 300px;
	width: 400px;
	margin: 25px 0;
}